# This whole notebook can be deleted

It was orginally written to compare Anomaly values between depth choices, but after a meeting it was decided it was better to compare RMSE values

In [1]:
import os

import pandas as pd
import numpy as np

In [2]:
REPO_ROOT = '/Users/rwegener/repos/chesapeake_mhw'

In [3]:
files = [
    'cbp_stations_climatology_anomaly_filtered_0.5-3m.csv',
    'cbp_stations_climatology_anomaly_filtered_0.5-7m.csv',
    'cbp_stations_climatology_anomaly_filtered_1-3m.csv',
    'cbp_stations_climatology_anomaly_filtered_1-7m.csv',
]
for filename in files:
    path = os.path.join(REPO_ROOT, 'data/interim', filename)
    wq = pd.read_csv(path)

In [4]:
# 0.5m-3m
path = os.path.join(REPO_ROOT, 'data/interim', 
                    'cbp_stations_climatology_anomaly_filtered_0.5-3m.csv')
wq05_3 = pd.read_csv(path)

# 0.5m-7m
path = os.path.join(REPO_ROOT, 'data/interim', 
                    'cbp_stations_climatology_anomaly_filtered_0.5-7m.csv')
wq05_7 = pd.read_csv(path)

# 1m-3m
path = os.path.join(REPO_ROOT, 'data/interim', 
                    'cbp_stations_climatology_anomaly_filtered_1-3m.csv')
wq1_3 = pd.read_csv(path)

# 1m-7m
path = os.path.join(REPO_ROOT, 'data/interim', 
                    'cbp_stations_climatology_anomaly_filtered_1-7m.csv')
wq1_7 = pd.read_csv(path)

In [5]:
wq05_3

,Station,SampleDate,MeasureValue,Latitude,Longitude,ClimValue,MeasureAnomaly
0,CB1.1,2003-01-15,1.10,39.54794,-76.08481,3.895455,-2.795455
1,CB1.1,2005-01-13,5.50,39.54794,-76.08481,3.895455,1.604545
2,CB1.1,2006-01-12,5.00,39.54794,-76.08481,3.895455,1.104545
3,CB1.1,2007-01-12,5.25,39.54794,-76.08481,3.895455,1.354545
4,CB1.1,2008-01-17,4.70,39.54794,-76.08481,3.895455,0.804545
...,...,...,...,...,...,...,...
22198,WXT0013,2018-01-03,6.60,38.79600,-76.72080,6.900000,-0.300000
22199,WXT0013,2019-01-09,8.35,38.79600,-76.72080,6.900000,1.450000
22200,WXT0013,2020-01-23,4.30,38.79600,-76.72080,6.900000,-2.600000
22201,WXT0013,2021-01-21,6.95,38.79600,-76.72080,6.900000,0.050000
22202,WXT0013,2022-01-27,5.30,38.79600,-76.72080,6.900000,-1.600000

In [6]:
all_dfs = [wq05_3, wq05_7, wq1_3, wq1_7]

In [8]:
wq05_3 = wq05_3.drop(['MeasureValue', 'Latitude', 'Longitude', 'ClimValue'], axis=1)
wq05_7 = wq05_7.drop(['MeasureValue', 'Latitude', 'Longitude', 'ClimValue'], axis=1)
wq1_3 = wq1_3.drop(['MeasureValue', 'Latitude', 'Longitude', 'ClimValue'], axis=1)
wq1_7 = wq1_7.drop(['MeasureValue', 'Latitude', 'Longitude', 'ClimValue'], axis=1)

In [9]:
merged = wq05_3.merge(wq05_7, how='left', on=['Station', 'SampleDate'], suffixes=['0.5-3', '0.5-7'])

In [10]:
# merged = merged.merge(wq1_3, how='left', on=['Station', 'SampleDate']).rename({'MeasureAnomaly': 'MeasureAnomaly1-3'})

In [13]:
wq05_3.name = 'wq05_3'
wq05_7.name = 'wq05_7'
wq1_3.name = 'wq1_3'
wq1_7.name = 'wq1_7'